body {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, #line {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-weight: lighter;
}

h2 {
    font-size: 15px;
    color: rgb(0, 94, 184);
    margin: 0;   
    letter-spacing: 3px;
    font-family: 'Georgia', Times, serif;
    font-weight: lighter;
}

#line {
    color:lightgrey;
    margin-top: -12px;
    margin-bottom: 45px;
}

#byui {
    width: 110px;
    margin: 55px auto 0;
    display: block;
}

#text {
    width: 545px;
    margin: 0 auto;
    line-height: 2;
}

#italics {
    font-style: italic;
}

li {
    margin-bottom: 15px;
}