/* body {
    font-family: 'Times New Roman', Times, serif;
} */

h1, h2, #line {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

h2 {
    font-size: 17px;
    color: rgb(0, 94, 184);
    margin: 0;   
}

#line {
    color:lightgrey;
    margin-top: -12px;
    margin-bottom: 50px;
}

#byui {
    width: 110px;
    margin: 55px auto 0;
    display: block;
}

#text {
    width: 545px;
    margin: 0 auto;
    line-height: 2;
}

#italics {
    font-style: italic;
}

li {
    margin-bottom: 15px;
}